<%= form_for Participant.new, html: {class: "new-form"} do |f| %>
<div id="new-form-close" class="icon icon_close"></div>
<h2>Utwórz uczestnika</h2>
<div class="form-row">
  <%= f.text_field :first_name , placeholder: 'IMIĘ'%>
  <%= f.text_field :last_name, placeholder: 'NAZWISKO'%>
  <div class="clearfix"></div>
</div>
<div class="form-row">
  <%= f.number_field :age, placeholder: 'WIEK'%>
  <%= f.text_field :city, placeholder: 'MIASTO'%>
    <div class="clearfix"></div>
</div>
  <div class="form-row">
      <%= f.collection_select :role_id, Role.all, :id, :name, {}, {:class => "change-select sbHolder"} %>
      <div class="clearfix"></div>
</div>
<div class="form-row">
  <%= f.email_field :email, placeholder: 'EMAIL'%>
  <%= f.telephone_field :phone, placeholder: 'TELEFON'%>
  <div class="clearfix"></div>
</div>
<div class="form-row">
      <%= f.select :day_ids, [["Dzień 1", Day.find_by_number(1).id], ["Dzień 2", Day.find_by_number(2).id], ["Dzień 3", Day.find_by_number(3).id]], {}, {multiple: true}%>
      <%= f.select :night_ids, [["Nocleg 1", Night.find_by_number(1).id], ["Nocleg 2", Night.find_by_number(2).id]], {}, {multiple: true}%>
      <%= f.select :dinner_ids, [["Obiad 1", Dinner.find_by_number(1).id], ["Obiad 2", Dinner.find_by_number(2).id]], {}, {multiple: true}%>
      <div class="clearfix"></div>
</div>
<div class="form-row">
  <%= f.select :gender, [['KOBIETA', 'K'], ['MĘŻCZYZNA','M']] , {}, {multiple: false}%>
</div>
<div class="form-row">
  <%= f.number_field :paid, placeholder: 'ZAPŁACONO'%>
  <div style="float:right">
   <%= f.date_select :payment_deadline%>
   </div>
  <div class="clearfix"></div>
</div>
<div class="form-row">
    <label> PRZYJECHAŁ: </label>
    <div> <%= f.check_box :arrived%></div>
  <div class="clearfix"></div>
  </div>

    <%= f.submit 'Zapisz', :class =>  "Edit_Participant"%>
	<div class="clearfix"></div>
<% end %>
