<tr data-id="<%= dom_id(participant) %>" class="<%= dom_id(participant) %>" >
    <td>
    <% if participant.archived==false %>
        <%= link_to participant, :method => :delete, :data => {:confirm => "Na pewno chcesz usunąć uczesntika #{participant.name}"}, :remote => true do %>
        <span class="icon icon_trash_alt" title="Usuń uczestnika"></span>
        <% end %>
    <% else %>
        <%= link_to 'Usuń na zawsze', wipe_participant_path(@participant), :method => :delete, :data => {:confirm => 'Usunąć NA ZAWSZE?'}, :remote => true %>
    <% end %>
    </td>
    <td data-action="first_name"><%= participant.name%> <%=participant.surname%></td>
    <td data-action="age"><%=participant.age%></td>
    <td data-action="town"><%=participant.city%></td>
    <td data-action="email"><%=participant.email%></td>
    <td data-action="phone"><%=participant.phone%></td>
    <td data-action="role"><%=participant.role.name%></td>
    <td class="td-total" data-action="total"><%=participant.cost%></td>
    <td class="td-paid" data-action="paid"><%=participant.paid%></td>
    <td class="to-pay"><%=participant.cost - participant.paid %> </td>
    <td>
        <%if participant.days.include?(Day.find_by_number(1)) %>
            <div class="icon icon_check_alt"></div>
        <%else%>
            <div class="icon icon_close_alt"></div>            
        <%end%>
    </td>
    <td>
        <%if participant.days.include?(Day.find_by_number(2)) %>
            <div class="icon icon_check_alt"></div>
        <%else%>
            <div class="icon icon_close_alt"></div>            
        <%end%>
    </td>
    <td>
        <%if participant.days.include?(Day.find_by_number(3)) %>
            <div class="icon icon_check_alt"></div>
        <%else%>
            <div class="icon icon_close_alt"></div>            
        <%end%>
    </td>
     <td>
        <%if participant.dinners.include?(Dinner.find_by_number(1)) %>
            <div class="icon icon_check_alt"></div>
        <%else%>
            <div class="icon icon_close_alt"></div>            
        <%end%>
    </td>
     <td>
        <%if participant.dinners.include?(Dinner.find_by_number(2)) %>
            <div class="icon icon_check_alt"></div>
        <%else%>
            <div class="icon icon_close_alt"></div>            
        <%end%>
    </td>
    <td><%=participant.nights.length%></td>
    <td><%= participant.created_at%></td>
    <td><%=participant.payment_deadline%></td>
    <td class="status"><%= participant.get_status %></td>
    <% if participant.archived==false %>
    <td>
    <%= link_to set_arrived_participant_path(participant), :method => :patch, :remote => :true do %>
    <span title="Przyjechał" class="icon icon_check"> </span>
    <% end %>
    </td>
    <td>
    <%= link_to edit_form_participant_path(participant), :method => :put, :remote => :true do %>
    <span title="Edytuj uczestnika" class="icon icon_pencil-edit_alt"></span>
    <% end %>
    </td>
    <td>
        <%= link_to list_mail_participant_path(participant), :method => :get, :remote => :true do %>
            <span title="Wyślij e-mail" class="icon icon_mail_alt"></span>
        <% end %>
    </td>   
    <% else %>
    <td>
            <%= link_to unarchive_participant_path(participant), :method => :patch, :data => {:confirm => 'Na pewno przywrócić?'}, :remote => true do %>
            <span class="icon .icon_plus-box" title="Przywróć uczestnika"></span>
            <% end %>
    </td>
    <% end %>
</tr>