<tr data-id="<%= dom_id(participant) %>" class="<%= dom_id(participant) %>" >
 
    <td data-action="first_name"><%= participant.name%> <%=participant.surname%></td>
    <td data-action="age"><%=participant.age%></td>
    <td data-action="town"><%=participant.city%></td>
    <td data-action="email"><%=participant.email%></td>
    <td data-action="phone"><%=participant.phone%></td>
    <td data-action="role"><%=participant.role.name%></td>
    <td class="td-total" data-action="total"><%=participant.cost%></td>
    <td class="td-paid" data-action="paid"><%=participant.paid%></td>
    <td class="to-pay"><%=participant.cost - participant.paid %> </td>
    <td>
        <%if participant.days.include?(Day.find_by_number(1)) %>
            <div class="icon icon_check_alt"></div>
        <%else%>
            <div class="icon icon_close_alt"></div>            
        <%end%>
    </td>
    <td>
        <%if participant.days.include?(Day.find_by_number(2)) %>
            <div class="icon icon_check_alt"></div>
        <%else%>
            <div class="icon icon_close_alt"></div>            
        <%end%>
    </td>
    <td>
        <%if participant.days.include?(Day.find_by_number(3)) %>
            <div class="icon icon_check_alt"></div>
        <%else%>
            <div class="icon icon_close_alt"></div>            
        <%end%>
    </td>
    <td><%=participant.dinners.length%></td>
    <td><%=participant.nights.length%></td>
    <td><%= participant.created_at%></td>
    <td><%=participant.payment_deadline%></td>
    <td><%= participant.get_status %></td>
    <td>
    <%= link_to 'UPDATE', edit_form_participant_path(participant), :method => :put, :remote => :true %>
    <div class="update-button" data-id="<%= participant.id %>">TRY ME!</div>
    <p>
    <%= link_to 'Potwierdzenie zapłaty', payment_confirm_participant_path(participant), :method => :post, :data => {:confirm => 'Na pewno wysłać?'}, :remote => true %>
    </p>
    <p style="color:grey;">
     <%= link_to 'Ponowne potwierdzenie rejestracji', resend_confirmation_participant_path(participant), :method => :get, :data => {:confirm => 'Na pewno wysłać PONOWNIE?'}, :remote => true %>
    </p>
    </td>
    <td>
      <%= form_for participant, url: edit_payment_participant_path(participant), remote: true do |f| %>
        <strong>Zapłać:</strong>
        <%= f.number_field :paid %>
        <%= f.collection_select :role_id, Role.all, :id, :name %>        
        <%= f.submit "Zapisz" %>
      <% end %>
    </td>   
    <td>
        <%if participant.archived == false %>
      <p><%= link_to 'Archiwizuj (mail)', participant, :method => :delete, :data => {:confirm => 'Na pewno usunąć? Uczestnik otrzyma maila z potwierdzeniem!'} , :remote => true %></p>
    <%else%>
     <%= link_to 'Przywróć', unarchive_participant_path(participant), :method => :patch, :data => {:confirm => 'Na pewno przywrócić?'}, :remote => true %>
    <%end%>
    <p><%= link_to 'Usuń na zawsze', wipe_participant_path(participant), :method => :delete, :data => {:confirm => 'Usunąć NA ZAWSZE?'}, :remote => true %></p>
    </td>
</tr>