<% content_for :head do %>
 <script>
      $(document).ready(function() {

          $(window).load(function() {
            $('#loading').hide();
          });

          $(document).on('click', '#new-form-close', function() {
            console.log('DZIEJE SIE');
            $('.add-new').fadeOut('fast');
            $('.add-new').empty();
          });

          $(document).on('click', '#update-close', function() {
            console.log('DZIEJE SIE');
            $(".update-participant").fadeOut('fast');
          });
        
          $(document).on('click', '.Edit_Participant', function() {
            console.log('DZIEJE SIE');
            $(".update-participant").fadeOut('fast');
            $(".update-participant").empty();
            // $('#loading').show();
          });
        
          $(document).on('click', '#mail-close', function() {
            console.log('DZIEJE SIE');
            $(".mail-list").fadeOut('fast');
            $(".mail-list").empty();
          });

          $(document).on('click', "#add-new", function(){
            $('.add-new').empty();
            $('.add-new').html("<%= escape_javascript(render 'new')%>")
            $('.add-new').fadeIn('fast');
          });

          $(document).on('page:fetch', function() {
            $('#loading').show();
          });

          $(document).on('page:change', function() {
            $('#loading').hide();
          });

        var table = $('#data').on( 'init.dt', function () {
          $("select").selectbox();
        }).dataTable({
          columnDefs:
          [{
            visible: false, 
            targets: [4, 5, 16, 17]
          }],
          colVis:{
            exclude: [10, 11, 12, 13, 14, 18, 19, 20, 21],
            groups: [
                {
                    title: "Dni",
                    columns: [ 10, 11, 12 ]
                },
                {
                  title: "Obiady",
                  columns: [ 13, 14]
                }
                ]
          },
          
          "language": {
            "sProcessing":   "Przetwarzanie...",
            "sLengthMenu":   "Pokaż _MENU_ pozycji",
            "sZeroRecords":  "Nie znaleziono pasujących pozycji",
            "sInfoThousands":  " ",
            "sInfo":         "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
            "sInfoEmpty":    "Pozycji 0 z 0 dostępnych",
            "sInfoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
            "sInfoPostFix":  "",
            "sSearch":       "Szukaj:",
            "sUrl":          "",
            "oPaginate": {
              "sFirst":    "Pierwsza",
              "sPrevious": "Poprzednia",
              "sNext":     "Następna",
              "sLast":     "Ostatnia"
            },
            "sEmptyTable":     "Brak danych",
            "sLoadingRecords": "Wczytywanie...",
            "oAria": {
              "sSortAscending":  ": aktywuj by posortować kolumnę rosnąco",
              "sSortDescending": ": aktywuj by posortować kolumnę malejąco"
            }
          },
          "dom": 'C<"clear">lfrtip',
          initComplete: function () {
            $('#data_wrapper').prepend('<div id="add-new" class="ColVis"><button class="ColVis_Button ColVis_MasterButton dodaj"><span class="button_text">Dodaj uczestnika</span></button></div>');
             
          }
        });
        // $.each(table.fnSettings().aoColumns, function(i){
        //   console.log("title: " + table.fnSettings().aoColumns[i].sTitle);
        //   console.log("visiblility " + table.fnSettings().aoColumns[i].bVisible);
        // });
      });
    </script>
<% end %>

<div class="log-box">
  <div class="log-txt"></div>
</div>
<div class="update-participant">
<%= render 'new', :locals =>{:participant => Participant.new  %>
</div>
<div class="mail-list"></div>

<div class="add-new">
<%= render 'new', :locals =>{:participant => Participant.new %>
</div>

<div id="loading" style="text-align:center;">
    <h3 style="color:white;">WCZYTYWANIE...</h3>
</div>

<div class="wrapper">


<%= render 'shared/menu' %>


  <section class="container content">
    <h1 class="main-header">Lista uczestników</h1>

<table id="data" class="display" cellspacing="0" width="100%">
<thead>
    <tr>
        <th></th>
        <th>Imię i nazwisko</th>
        <th>Wiek</th>
        <th>Miasto</th>
        <th>E-mail</th>
        <th>Telefon</th>
        <th>Rola</th>
        <th>Suma</th>
        <th>Zapłacono</th>
        <th>Do zapłaty</th>
        <th class="th-group-1">Dzień 1</th>
        <th class="th-group-1">Dzień 2</th>
        <th class="th-group-1">Dzień 3</th>
        <th class="th-group-2">Obiad 1</th>
        <th class="th-group-2">Obiad 2</th>
        <th class="th-group-3">Noclegi</th>
        <th>Data rejestracji</th>
        <th>Termin płatności</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</thead>

<tfoot>
        <th></th>
        <th>Imię i nazwisko</th>
        <th>Wiek</th>
        <th>Miasto</th>
        <th>E-mail</th>
        <th>Telefon</th>
        <th>Rola</th>
        <th>Suma</th>
        <th>Zapłacono</th>
        <th>Do zapłaty</th>
        <th class="th-group-1">Dzień 1</th>
        <th class="th-group-1">Dzień 2</th>
        <th class="th-group-1">Dzień 3</th>
        <th class="th-group-2">Obiad 1</th>
        <th class="th-group-2">Obiad 2</th>
        <th class="th-group-3">Noclegi</th>
        <th>Data rejestracji</th>
        <th>Termin płatności</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</tfoot>

<tbody>
  <%= render @participants %>
</tbody>

</table>
</section>
</div>