<h1>Lista uczestników</h1>
<header>
  <p>
    Ilość zarejestrowanych: <%= @participants.length %>
  </p>

  <p>
    Ilość noclegów chopaki noc 1: <%= @participants.night1_sleeper.men.length%>
  </p>
  <p>
    Ilość noclegów chopaki noc 2: <%= @participants.night2_sleeper.men.length%>
  </p>
  <p>
    Ilość noclegów dziewuchy noc 1: <%= @participants.night1_sleeper.women.length%>
  </p>
  <p class="noclegi">
    Ilość noclegów dziewuchy noc 2: <%= @participants.night2_sleeper.women.length%>
  </p>

<p> <%= link_to 'Pokaż usuniętych', archived_path %></p>

</header>
<table style="border: 1px;">
  <tr style="outline: thin solid">
    <th>Imie</th>
    <th>Nazwisko</th>
    <th>Wiek</th>
    <th>Miasto</th>
    <th>E-mail</th>
    <th>Telefon</th>
    <th>Rola</th>
    <th>Koszt</th>
    <th>Zapłacono</th>
    <th>Do zapłaty </th>
    <th>Dzien 1</th>
    <th>Dzien 2</th>
    <th>Dzien 3</th>
    <th>Nocleg 1</th>
    <th>Nocleg 2</th>
    <th>Obiad 1</th>
    <th>Obiad 2</th>
    <th>Plec</th>
    <th>Utworzony</th>
    <th>Termin płatności</th>
    <th>Status</th>
  </tr>

<%= render @participants %>
</table>