<h1>Lista uczestników</h1>
<header>
  <p>
    Ilość zarejestrowanych: <%= @participants.length %>
  </p>

  <p>
    Ilość noclegów chopaki noc 1: <%= @participants.night1_sleeper.men.length%>
  </p>
  <p>
    Ilość noclegów chopaki noc 2: <%= @participants.night2_sleeper.men.length%>
  </p>
  <p>
    Ilość noclegów dziewuchy noc 1: <%= @participants.night1_sleeper.women.length%>
  </p>
  <p class="noclegi">
    Ilość noclegów dziewuchy noc 2: <%= @participants.night2_sleeper.women.length%>
  </p>

  <p>
  Ilość obiadów dzień 1: <%= @participants.dinner1_eater.length%>
  </p>
  <p>
  Ilość obiadów dzień 2: <%= @participants.dinner2_eater.length%>
  </p>

<p> <%= link_to 'Pokaż usuniętych', archived_path %></p>

</header>
<table style="border: 1px;">
  <tr style="outline: thin solid">
    <th>Imie i Nazwisko</th>
    <th>Wiek</th>
    <th>Miasto</th>
    <th>E-mail</th>
    <th>Telefon</th>
    <th>Rola</th>
    <th>Koszt</th>
    <th>Zapłacono</th>
    <th>Do zapłaty </th>
    <th>Dni</th>
    <th>Noclegi</th>
    <th>Obiady</th>
    <th>Utworzony</th>
    <th>Termin płatności</th>
    <th>Status</th>
  </tr>

<%= render @participants %>

</table>