   <div class="wrapper">
    
<%= render 'shared/menu' %>
<section class="container content">
    <h1 class="main-header">Podsumowanie</h1>
    <h2>Ogólne</h2>
  <div style="font-size: 16px;">
    Ilość zarejestrowanych: <%= @participants.length %> <br />
    Ilość zarejestrowanych na dzień 1 : <%= @participants.dayer1.length %> <br />
    Ilość zarejestrowanych na dzień 2 : <%= @participants.dayer2.length %> <br />
    Ilość zarejestrowanych na dzień 3 : <%= @participants.dayer3.length %> <br /> <br/>
    Przyjechało: <%= @participants.where(arrived: true).length %> <br /><br />
    </div>
    </section>
    <section class="container content">
    <h2>Noclegi </h2>
    <div style="font-size: 16px;">
    Ilość noclegów chopaki noc 1: <%= @participants.night1_sleeper.men.length%><br /><br />
    Ilość noclegów chopaki noc 2: <%= @participants.night2_sleeper.men.length%><br /><br />
    Ilość noclegów dziewuchy noc 1: <%= @participants.night1_sleeper.women.length%><br /><br />
    Ilość noclegów dziewuchy noc 2: <%= @participants.night2_sleeper.women.length%><br /><br />
  </div>
</section>
<section class="container content">
<h2> Obiady </h2>
  <div style="font-size: 16px;">    
    Ilość obiadów dzień 1: <%= @participants.dinner1_eater.length%><br /><br />
    Ilość obiadów dzień 2: <%= @participants.dinner2_eater.length%><br /><br /><br /> <br />
    Zapłacone obiady dzień 1: <%= @participants.dinner1_eater.where("(paid > 0) or (cost=0)").length %><br /> <br />
    Zapłacone obiady dzień 2: <%= @participants.dinner2_eater.where("(paid > 0) or (cost=0)").length %><br /> <br />
  </div>
</section>
<section class="container content">
<h2>Finanse</h2>
<div style="font-size: 16px;">
Całkowita kwota do zapłaty: <%= Participant.all.inject(0){|sum, e| sum += e.cost}%> <br /> <br />
Całkowita wpłacona kwota: <%= Participant.all.inject(0){|sum, e| sum += e.paid}%> <br /> <br />
Brakująca kwota (z uwzględnieniem zwrotów dla wolontariuszy): <%= Participant.all.inject(0){|sum, e| sum += (e.cost - e.paid)}%> <br /> <br />
Zwroty dla wolontariuszy: 


<% v = Participant.all.inject(0) do |sum, e| %>
  <%if ((e.cost - e.paid)<0)%>
   <% sum += -(e.cost - e.paid)%>
  <%end%>
<%end%>
  <%= v %>
</div>
</section>
</div>