<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Początek Web App</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="robots" content="all" />

	<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "fonts/fonts.css", media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "normalize.css", media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "jquery.dataTables.css", media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "jquery.selectbox.css", media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "dataTables.colVis.css", media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag 'style.css', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,400italic,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext,latin-ext,cyrillic', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Comfortaa:400,300,700&subset=latin,cyrillic-ext,latin-ext,cyrillic', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css', media: 'all', 'data-turbolinks-track' => true %>


	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js", 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "jquery.selectbox-0.2.min.js", 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "jquery.dataTables.js", 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'dataTables.colVis.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.page-ui.js', 'data-turbolinks-track' => true %>
	
	<% if content_for? :head %>
   		<%= yield :head %>
  	<% end %>


<!--'data_table_config', -->
  <%= csrf_meta_tags %>

<%=favicon_link_tag 'favicon.png'%>
</head>
<body>
<%= render 'shared/header' %>
  <div id="wrapper">
    <%= render 'shared/sidebar' %>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </div>
</body>

<footer class="container">
	<div class="userInfo">
	<% if @current_user %>
		Zalogowany jako <%=@current_user.name%> 
	<%else%>
	 	Niezalogowany
	<%end%>
	</div>
	<div class="copyright">Copyright <a href="http://poczatek.org" target="_blank">Poczatek.org</a> 2014</div>
</footer>

</html>
