<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Początek Web App</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="robots" content="all" />

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'jquery.selectbox-0.2.min.js',
								'jquery.dataTables.js',
								'dataTables.colVis.js',
								'jquery.page-ui.js', 
								'data_table_config', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'fonts/fonts.css',
  						   'normalize.css',
  						   'jquery.dataTables.css',
  						   'jquery.selectbox.css',
  						   'dataTables.colVis.css',
  						   'style.css', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
</head>
<body>
<h2 class='User_Header'> 

<% if @current_user %>
	<%=@current_user.name%> 
	Profile 
	<%else%>
	Not logged in
	<%end%>
<h2>
<%= yield %>
</body>
</html>