<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Początek Web App</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="robots" content="all" />

	<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "fonts/fonts.css", media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "normalize.css", media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "jquery.dataTables.css", media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "jquery.selectbox.css", media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "dataTables.colVis.css", media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag 'style.css', media: 'all', 'data-turbolinks-track' => true %>


	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js", 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "jquery.selectbox-0.2.min.js", 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "jquery.dataTables.js", 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'dataTables.colVis.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.page-ui.js', 'data-turbolinks-track' => true %>
	
	<% if content_for? :head %>
   		<%= yield :head %>
  	<% end %>


<!--'data_table_config', -->
  <%= csrf_meta_tags %>

<%=favicon_link_tag 'favicon.png'%>
</head>
<body>
<h2 class='User_Header'> 

<% if @current_user %>
	<%=@current_user.name%> 
	Profile 
	<%else%>
	Not logged in
	<%end%>
</h2>
<%= yield %>
</body>
</html>