<!DOCTYPE html>
<html>
<head>
  <title>PWebApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2 class='User_Header'> 

<% if @current_user %>
	<%=@current_user.name%> 
	Profile 
	<%else%>
	Not logged in
	<%end%>
<h2>
<%= yield %>
</body>
</html>